* {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img{
    width: 100%;
}

.hero-image{
    background-image: url("./China/rock.png") ;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text{
    color:rgb(133,176, 154);
    font-size: 45px;
    position: absolute;
    text-align: center;
    top: 90px;
    width: 100%;
}

.two-column{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 70px;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    font-size: 20px;
}

.fith-column{
    font-size: 100%;
}

.info{
    font-size: 1.25em;
}   

.three-column{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

body{
    background-color:rgb(83,104,114);
    border-style:groove;
    border-width: 40px;
    border-color: darkcyan;
}

.four-column{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    width: 100%;
}

p{
    font-size: large;
}
